<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><span class="ColorisedText">A</span>ros <span
        class="ColorisedText">B</span>yggsmide</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Hem
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Om Företaget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tillverkning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Referenser</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Företaget
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Arbeta hos oss</a>
            <a class="dropdown-item" href="#">Partners</a>
            <a class="dropdown-item" href="#">Kontakt</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Carousel -->
<header>
  <div id="carouselExampleIndicators" class="carousel d-none d-sm-block slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('https://i.imgur.com/vOfFB8y.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.imgur.com/ZcMyM23.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://i.imgur.com/sjVuUPJ.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4"></h2>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>