<footer class="page-footer elegant-color font-small blue pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Var finns vi</h5>
        <p>Idag har Aros Byggsmide sin verksamhet i egna nybyggda lokaler på Tunbytorp i Västerås. Verkstaden som är 1
          000 kvm byggdes under 2002. Numera används det kortare namnet Aros Byggsmide AB</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Adress</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Aros Byggsmide AB</a>
          </li>
          <li>
            <a href="#!">Transformatorgatan 10</a>
          </li>
          <li>
            <a href="#!">721 37 Västerås</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Kontakt</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Tel 021 13 22 11</a>
          </li>
          <li>
            <a href="#!">Fax 021 12 43 35</a>
          </li>
          <li>
            <a class="textFix" href="mailto:info@arosbyggsmide.se">info@arosbyggsmide.se </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright elegant-color-dark text-center py-3">© 2019 Copyright:
    <a class="textFix" href="http://www.arosbyggsmide.se"> Arosbyggsmide.se</a>
  </div>

</footer>